html, body, div, span, p {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    height: 200px;
}

#options-form {
    padding: 16px;
}

#personalToken {
    height: 16px;
    padding: 4px 8px;
}
